@-webkit-keyframes orbit {
	0% {-webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);}
	100%  {-webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);}
}

#header {
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 75px;
  display: block;
  font-size: 20px;
}

#content {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
#footer {
    color: black;
    padding-left: 3em;
    padding-top: 15em;
    font-size: .9em;
    padding-bottom: 1em;
    display: block;
}

p {
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
  border-bottom: 4px solid #cd5555;
}


#parentdiv
    {
        position:relative;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        background-image: url("http://image.flaticon.com/icons/svg/166/166679.svg");
    }
.div2
    {
        position: absolute;
        width: 150px;
        height: 150px;
        background-color:white;
        border-radius: 50%;
        animation: orbit 20s linear infinite;
        color: gray;

    }




button {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
    display: inline;
    width: 300px;
    height: 300px;
    color: white;
    text-align: center;
    border-radius: 50%;
    outline: none;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}

#ingredients img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: 1.5em;
  margin-right: 1em;
}



/* The Modal (background) */
.modal {
    display: none;/* Hidden by default */
    position: relative;
    left: 50px;
    top: 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */


}



/* The Close Button */
.close {
    color: #aaa;
    width: 350px;
    display: block;
    margin-left: 125px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b30000;
    text-decoration: none;
    cursor: pointer;
}




#circle1 {
  border: 4px solid #A095EE;

}

#circle2 {
  border: 4px solid #86BCFF;
}
#circle3 {
  border: 4px solid #9d549c;

}
#circle4 {
  border: 4px solid #8fddea;

}
#circle5 {
  border: 4px solid #b05462;

}
#circle6 {
  border: 4px solid #6ea634;

}
#circle7 {
  border: 4px solid #ffa48e;

}
#circle8 {
  border: 4px solid #ceba90;

}
#circle9 {
  border: 4px solid #FF9797;
}



.name {
  font-weight: bold;
  font-size: 2em;
  margin: 0 0 0 0;
}

.description {
  font-size: 1em;
  margin: 0.5em 0 1.5em 1.5em;

}
